<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.traffic.mapper.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.tydic.traffic.entity.OrganizationBean" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="bmbh" property="bmbh" jdbcType="VARCHAR" />
    <result column="bmmc" property="bmmc" jdbcType="VARCHAR" />
    <result column="sjbm" property="sjbm" jdbcType="VARCHAR" />
    <result column="lxdh" property="lxdh" jdbcType="VARCHAR" />
    <result column="fzr" property="fzr" jdbcType="VARCHAR" />
    <result column="ssjb" property="ssjb" jdbcType="VARCHAR" />
    <result column="zzlx" property="zzlx" jdbcType="VARCHAR" />
    <result column="llbm" property="llbm" jdbcType="VARCHAR" />
    <result column="sfky" property="sfky" jdbcType="VARCHAR" />
    <result column="bmbhs" property="bmbhs" jdbcType="VARCHAR" />
    <result column="sjbms" property="sjbms" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
     id, bmbh, bmmc, sjbm, lxdh, fzr, ssjb, zzlx, llbm, sfky, bmbhs, sjbms
  </sql>
  <delete id="deleteById" >
    delete from t_organization where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap"
          parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from t_organization
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_organization
  </select>

  <select id="findByBMBH" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_organization where bmbh = #{bmbh,jdbcType=VARCHAR}
  </select>

  <select id="listOrg" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from t_organization o where o.bmbh = #{bmbh,jdbcType=VARCHAR} or o.sjbm = #{bmbh,jdbcType=VARCHAR}
  </select>
</mapper>