<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.traffic.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.tydic.traffic.entity.NewBean" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="new_time" property="newTime" jdbcType="VARCHAR" />
    <result column="date_time" property="dateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, photo, new_time, date_time, content
  </sql>
  <delete id="deleteById" >
    delete from t_news where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tydic.traffic.entity.NewBean" >
    insert into t_news (title, photo,
      new_time, date_time, content
      )
    values (#{record.title,jdbcType=VARCHAR}, #{record.photo,jdbcType=VARCHAR},
      #{record.newTime,jdbcType=VARCHAR}, #{record.dateTime,jdbcType=VARCHAR},
      #{record.content,jdbcType=LONGVARCHAR}
      )
  </insert>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap"
          parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from t_news
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_news
  </select>
</mapper>