<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.traffic.mapper.TalknotesMapper" >
  <resultMap id="BaseResultMap" type="com.tydic.traffic.entity.TalkNotesBean" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="REAL" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <association property="leader" column="leader_id" javaType="com.tydic.traffic.entity.PolicemanBean"
                 select="selectPolicemanByPrimaryKey"></association>
    <association property="conversation" column="conversation_id" javaType="com.tydic.traffic.entity.PolicemanBean"
                 select="selectPolicemanByPrimaryKey"></association>
  </resultMap>

  <resultMap id="PolicemanResultMap" type="com.tydic.traffic.entity.PolicemanBean" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="jyhm" property="jyhm" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="ssbm" property="ssbm" jdbcType="VARCHAR" />
  </resultMap>


  <select id="selectPolicemanByPrimaryKey" resultMap="PolicemanResultMap"
          parameterType="java.lang.Long">
    select id, jyhm, xm, ssbm
    from t_policeman
    where id = #{id,jdbcType=BIGINT}
  </select>

  <sql id="Base_Column_List" >
    id, leader_id, conversation_id, `time`, duration, photo, flag, content
  </sql>
  <delete id="deleteById" >
    delete from t_talknotes where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.tydic.traffic.entity.TalkNotesBean" >
    insert into t_talknotes (leader_id, conversation_id,
      time, duration, photo,
      flag, content)
    values (#{record.leaderId, jdbcType=BIGINT},
      #{record.conversationId, jdbcType=BIGINT},
      #{record.time,jdbcType=VARCHAR}, #{record.duration,jdbcType=REAL}, #{record.photo,jdbcType=VARCHAR},
      #{record.flag,jdbcType=INTEGER}, #{record.content,jdbcType=LONGVARCHAR})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap"
          parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from t_talknotes
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_talknotes
    <where>
      1 = 1
      <if test="policemanId != null">
        and conversation_id = #{policemanId, jdbcType=BIGINT}
      </if>
      <if test="flag != null">
        and flag = #{flag, jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>